<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <title>Dashboard</title>
</head>
<body>
<a href="/oauth2/authorization/keycloak"><button type="button">Login using Keycloak</button></a>
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>
<h2>Services</h2>
<a href="http://localhost:8089/dashboard/services/authors/home">Authors-Service</a><br>
<a href="http://localhost:8089/dashboard/services/songs/home">Songs-Service</a>
</body>
</html>