<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <title>Login</title>
</head>
<body>
<h1>Login</h1>
<a href="http://keycloak:8080/realms/alexlakers-realm/protocol/openid-connect/auth"><button type="button">Login using Keycloak</button></a>
<a href=http://keycloak:8080/realms/alexlakers-realm/protocol/openid-connect/logout><button type="button">Logout using Keycloak</button></a>

</body>
</html>